<header>
    <!-- Top Side -->
    <div class="hero">
        <section class="layout">
            <section class="userinfo">
                <a href="/logout"><p>Logged in as: <span class="username"><%= username %></span> / <i class="fa fa-sign-out" aria-hidden="true"></i></p></a>
            </section>
            <div class="branding">
                <a href="/home">
                   <img src="/images/misc/guitar_logo.png" alt="Guitar Logo">
                </a>
            </div>
        </section>
    </div>

    <!-- Selection Side -->
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/home"><i class="icon-home"></i> Home</a></li>
                <li><a href="/guitarists"><i class="icon-male"></i> Guitarists</a></li>
            </ul>
        </section>
    </div>
</header>