<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>

  <body>

    <div class="container">

            <% include ./partials/header.ejs %>

      <div class="jumbotron" id="loginPart">
        <h1>Register</h1> 
         <% if(errors) { %>
              <% errors.forEach(function(item) { %>
                <div class="alert alert-danger"><%= item.msg %></div>
              <% }); %>
          <% } %>
          <% if(errorMsg.length) { %>
                <div class="alert alert-danger"><%= errorMsg %></div>
          <% } %> 
          <form action="/users/register" method="post" id="registerPart">
                  <h4 class="form-signin-heading">Register New Account</h4>
          <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username" autofocus>
          </div>
          <div class="form-group">
              <label>E - mail</label>
              <input type="text" class="form-control" placeholder="E- mail" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm password" name="password2">
          </div>
          <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </div>
          </form>
        </div>

        <% include ./partials/footer.ejs %>

      </div> <!-- /container -->

          

    <% include ./partials/jsdefaults.ejs %>
  </body>
</html>
