<div class="masthead">
    <h3 class="text-muted"><i class="fa fa-address-book-o"></i> ContactsApp</h3>
    <nav>
        <ul class="nav nav-justified">
            <li id="home"><a href="/">Home</a></li>
        </ul>
    </nav>
</div>