body {
  background: url(../img/banner-bg.jpg) center;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

#container {
  background: url(../img/IT1.jpg);
  width: 60%;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
}

header {
  text-align: center;
  border-bottom: #fff dashed 2px;
}

header h1 {
  margin-top: 2%;
}

header p {
  padding: 0;
  margin-top: 5px;
  color: #fff;
  margin-bottom: 2%;
}

section {
  min-height: 400px;
}

footer {
  text-align: center;
}

input[type='submit'] {
  background: #f06226;
  border: 0;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

#results {
   display: none;
}

#results h3 {
  background: #f06226;
  padding: 10px;
  margin: 10px 0;
}

#results span span{
  color: #000;
  font-weight: bold;
}

#username, #useremail {
  text-align: left;
  color: #f06226;
}

#useremail {
  border-bottom: #fff dashed 1px;
  padding-bottom: 1%;

}

#username span, #useremail span {
  font-weight: bold;
  color: #fff;
}

#submitBtn {
  opacity: 0.5;
}

#userInfo {
  display: none;
}

.emptyQuestion {
  background: #f44242;
  color: #000000;
}
