<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" id="home"><a href="/">Home</a></li>
            <li role="presentation" id="login"><a href="/users/login">Login</a></li>
            <li role="presentation" id="register"><a href="/users/register">Register</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">AuthApp</h3>
</div>