<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= page %>">
        <header>
        <div class="hero">
        <section class="layout">
            <div class="branding">
                <p>Welcome to Top Guitarists Fanpage!<p>
                <h1>Login to Continue</h1>
            </div>
        </section>
    </div>
    </header>
    <section>
        <% include partials/template/loginform.ejs %>
    </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>