<article id="whoarewe">
  <h1>Who are we?</h1>
    <p>We are a group of classic rock enthusiasts and amateur musicians, paying our respects to and enjoying the creations of the legendary guitar players.</p>
    <p>Each guitarist has a significant record in music history, especially between 1970 and 1990, as well as being an example for the next generation musicians.</p>
</article>
