<article id="whoshouldread">
  <h1>Who should read?</h1>
  <ul>
    <li>Anybody interested in music and classic rock.</li>
    <li>Engineers, lawyers, doctors, musicians and so on!</li>
    <li>Those interested in other guitarists may leave feedback.</li>
  </ul>
</article>

