<!DOCTYPE html>
<html lang="en">
  
    <% include /partials/logintemp/head.ejs %>

  <body>

    <div class="container">
      
      <% include /partials/logintemp/header.ejs %>

      <div class="row">
        <div class="col-lg-12">
          <% if(successMsg.length != 0) { %>
              <div class="alert alert-success"><%= successMsg %></div>
          <% } %>
          <h2 class="page-header">TOP GUITARISTS</h2>
          <p>Welcome to the Fan Page!</p>
        </div>
      </div>

        <% include /partials/logintemp/footer.ejs %>
        
    </div> <!-- /container -->

    
  </body>
</html>
