<header>
    <!-- Top Side -->
    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/">
                   <img src="/images/misc/guitar_logo.png" alt="Guitar Logo">
                </a>
            </div>
        </section>
    </div>

    <!-- Selection Side -->
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"></i> Home</a></li>
                <li><a href="/guitarists"><i class="icon-male"></i> Guitarists</a></li>
            </ul>
        </section>
    </div>
</header>