<!DOCTYPE html>
<html lang="en">
  
    <% include ./partials/head.ejs %>

  <body>

    <div class="container">
      
      <% include ./partials/header.ejs %>

      <div class="row">
        <div class="col-lg-12">
          <% if(errorMsg.length != 0) { %>
              <div class="alert alert-danger"><%= errorMsg %></div>
          <% } %>
          <h2 class="page-header">Contact List</h2>
          <div class="jumbotron">
            <h1><i class="fa fa-user-circle-o"></i> <%= user.username %></h1>
            <p class="lead"><i class="fa fa-user-o"></i> <%= user.name %></p>
            <p class="lead"><i class="fa fa-envelope-open"></i> <%= user.email %></p>
            <form onsubmit="return checkUser()" action="/users/delete" method="POST" >
              <p><input type="submit" class="btn btn-lg btn-danger" value="Delete Profile"></p>
            </form>
            
            </div>
        </div>
      </div>

        <% include ./partials/footer.ejs %>
        
    </div> <!-- /container -->

    
  </body>
</html>
