<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>

  <body>

    <div class="container">

            <% include ./partials/header.ejs %>

      <div class="jumbotron">
        
        <h1>Welcome to Contacts</h1>
        <p>Contacts App brings an easy and reliable solution to your contacts, giving your contacts list a new breath.</p>
        <p>You can easily save, manage and view your contacts in a simple and secure environment.</p>

        <% if(!user) { %>
          <p>Register now!</p>
          <p>
          <a class="btn btn-lg btn-primary" href="/users/register" role="button">Register Now &raquo;</a>
          </p>   
        <% } else { %>
          <p>Start Now!</p>
          <p>
          <a class="btn btn-lg btn-primary" href="/users/contacts" role="button">Go to Contacts &raquo;</a>
          </p>   
        <% }%>
        
      </div>

      <% include ./partials/footer.ejs %>
      
    </div> <!-- /container -->
    

    <% include ./partials/jsdefaults.ejs %>
  </body>
</html>
