<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>

  <body>

    <div class="container">

      <% include ./partials/header.ejs %>

      <div class="jumbotron" id="loginPart">
        <h1>Login</h1>
        <% if(errorMsg.length != 0) { %>
              <div class="alert alert-success"><%= errorMsg %></div>
        <% } %>
        <form class="form-signin" method="POST">
        <h4 class="form-signin-heading">Login to Your Account</h4>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      </div>

      

      <% include ./partials/footer.ejs %>

    </div> <!-- /container -->
    

    <% include ./partials/jsdefaults.ejs %>
  </body>
</html>
